@page
@model Lab4.Pages.UploadModel
@{
}

<form asp-page="Upload" method="post" enctype="multipart/form-data">
    <input class="form-control" asp-for="Upload" type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" />
    <input class="form-control" type="submit" value="Upload" />
</form>